site_name: DKNATHALAGE
nav:
  - Home: index.md
  - Github:
      - Shadcn Mkdoc Setup: ./guides/gh-pages-shadcn.md
  - GCP:
      - ./guides/gcp-gha-wlif.md
theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: grey
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: grey
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  font:
    text: "Times New Roman"
    code: "Courier New"
  features:
    - navigation.top
    - navigation.sections
    - content.code.copy
markdown_extensions:
  - meta
  - admonition
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format